/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
@font-face {
  font-family: "Montserrat-Black";
  src: url(fonts/Montserrat-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
}
. {
  font-family: Montserrat-Regular;
}
body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }