{{ template "header.tmpl" .}}
<div>
<h1>
    Transaction cancelled
</h1>
<h2>What should we do ?</h2>
    <p>
        Transaction failed ! What do do we do now? Not sure. Let's speak on the phone and sort it out!
    </p>
</div>
{{ template "footer.tmpl" .}}