{{ template "header.tmpl" .}}
<div>
<h1>
    Checking-out
</h1>
<h2>Delivery options</h2>
    <p>
        Your are about to finalize your order for {{ .asset.EditionTotal }} certificates. Certificates are valid for a duration of 10 years.
        You can order to e-mail and print the certificates yourself, or you can order to mail and receive a printed document by post.
    </p>
    <p>

    </p>
    <h2>Order by mail</h2>
<p>
    We activate the digital certificates immediately, we print the documents and you will receive the physical certificates by post within a few days.
</p>
    <p><button type="button" disabled="true">Pay now {{ .pricing.CcySymbol }} {{ .pricing.Price }} {{ .pricing.Ccy }} </button> (available SOON!)</p>
    <h2>Do it yourself (DIY) instructions</h2>
<p>
    If you order to e-mail, you will receive two PDF documents at your email address {{ .source.Issuer.EmailAddress }}. The first PDF document contains the {{ .asset.EditionTotal }} certificates. The second PDF document contains the {{ .asset.EditionTotal }} tally sticks (example below),
</p>
    <p><button type="button">Pay now {{ .pricing.CcySymbol }} {{ .pricing.PriceDiy }} {{ .pricing.Ccy }} </button></p>
    <div id="#tallystick">
        {{ .tallystick }}
    </div>
</div>
{{ template "footer.tmpl" .}}