<html>
<head>
    <!--Use the `title` variable to set the title of the page-->
    <title>Uncopied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>