{{ template "header.tmpl" .}}
<div>
    <h1>
        Transaction succeeded
    </h1>
    <h2>Your Documents</h2>
    <ul>
        <li>
            <a href="/public/doc/{{ .order.OrderUUID }}/{{ .certificateDoc }}" target="top">Certificate(s) of Authenticity</a>
        </li>
        {{range .tallystickDocs}}
        <li>
            <a href="/public/doc/{{ .OrderUUID }}/{{ .Filename }}" target="top">{{ .CertificateLabel }} Tally stick</a>
        </li>
        {{else}}
        <li>
            Error : no data
        </li>
        {{end}}
    </ul>
    <h2>What's next ?</h2>
    <p>
        Please check your email / post for documents and instructions.
    </p>
</div>
        {{ template "footer.tmpl" .}}